/** LE CODAGE DES PRIMITIVES SE FONT DIRECTEMENT POUR LE DESKTOP **/

:root {
    /** COLORS */
    --white: hsl(0, 0%, 100%);
    --dark-blue: hsl(218, 44%, 22%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);

    /** FONTS */
    --fs-15: 15px;
    --fs-20: 20px;
    --ff-outfit: 'Outfit';
    --fw-400: 400;
    --fw-700: 700;
}

/** IMPORTATION DE LA POLICE D'ECRITURE **/
@font-face {
    font-family: 'Outfit';
    src: url('./../font/outfit/Outfit-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--ff-outfit);
    margin: auto;
    font-weight: var(--fw-700);
    background-color: var(--light-gray);
}

.container {
    margin: 10% auto;
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 2px var(--light-gray);
}

.qr-image{
    width: 100%;
}

.qr-image img{
   width: 100%;
    border-radius: 10px;
}

.qr-text h1 {
    text-align: center;
    font-size: var(--fs-20);
    font-weight: var(--fw-700);
    width: 100%;
    margin: 15px 0;
}

.qr-text p {
    text-align: center;
    color: var(--grayish-blue);
    font-weight: var(--fw-400);
    margin: 15px 0;
    font-size: var(--fs-15);
}
